.btn_avaliar{
    background:#A4A4A4;
    /* color:#ffffff; */
    padding:5px;
    border:none;
    margin-left:5px;
    margin-bottom:5px;
    border-radius:5px;
}
.celulaPerguntas{
    height:100px;
}

/* .card{
    margin: 3%;
    border: 1px solid gray;
} */

.painel{
    margin-top: 2%;
    width: 80%;
    /* border: 1px solid gray; */
}

input[aria-controls="tableDuvidas"]{
    border:1px solid black;
}

@media only screen and (max-width: 765px) {
    .botaoSuasPerguntas{
        margin-top:5px !important;
    }
  }

